body {
    background: black;
    font-family: sans-serif;
}

header {
    border-radius: 15px;
    padding: 5px;
    border: 3px solid #FF8C00; 
}

header h1 {
    text-align: center;
    color: #FF8C00;
}

nav a {
    background: #FF8C00;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 70px;}
  
main p{  
    color: #FF8C00;
    }
    
main h2{  
    color: #FF8C00;
    }

main h1{  
    color: #FF8C00;
    }

footer h1{  
    color: #FF8C00;
    }

